.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.layout-content {
  display: flex;
  flex: 1;
  background-color: #F0F8FF;
}

#content {
  flex: 1;
}

.layout-nav {
  /* 12em is the width of the columns */
  background-color: #E0FFFF;
  flex: 0 0 12em;
  order: -1;
  border-right: 1px solid black;
}

@media (min-width: 768px) {
  .layout-content {
    flex-direction: row;
    flex: 1;
  }


/* Data Dictionary Page */
table {
  width: 100%;
  margin-bottom: 2em;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

th {
  text-align: left;
}

input {
  width: 150px;
}

button {
  margin: 1em;
  display: block;
}
