#content {
  flex: 1;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
}

#loginDiv {
  position: absolute;
  right: 1em;
}

/* Data Dictionary Page */
table {
  width: 95%;
  margin-top: 2em;
}

.mdl-data-table.mdl-js-data-table th {
  text-align: center;
}

select {
  width: 100%;
}

li {
  text-align: left;
  list-style: none;
}


table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

.mdl-data-table.mdl-js-data-table input {
  float: left;
}


button {
  margin: 2em;
  display: block;
}

#version {
  float: right;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#dictionaryForm {
  margin-top: 2em;
}

/* test */
.table
{
	display:table;
	border-collapse:separate;
	border-spacing:2px;
  width: 75%;
}
.thead
{
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:grey;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
  width: 50%;
}
.td
{
	display:table-cell;
	border:1px solid black;
	padding:1px;
}
